.content{
  margin-top: 20px;
}

/*navigation*/
.navbar{
  background-color: white!important;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
}


/* Home */
.about-text{
  font-size: 1.1rem;
  text-align: left;
  padding: 20px;
}

/* Info */
.card{
  padding: 10px;
  margin-bottom: 20px;
}

.img-fluid-logo {
    max-width: 70%;
    height: auto;
    margin-top: 10px;
}

.card-title{
  margin-top: 15px;
}

.card-people {
    padding: 7px;
    margin-bottom: 20px;
    background-color: white;
}

.card-people:hover {
    background-color: lightgoldenrodyellow;
}


.card-title-people{
  margin-top: 23px;
  font-size: 1.1em;
}

.filter .btn-primary{
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  border: 1px solid black;
}

.filter .btn-primary:hover{
  border: 1px solid #009fe3;
}

.time-filters{
  margin-top: 30px;
}

.loader{
  padding: 50px;
}

.map{
  z-index: -1;
  margin: 170px 100px 100px 100px;
}

/*
.PrivateValueLabel-thumb-45.PrivateValueLabel-open-46 .PrivateValueLabel-offset-47{
    transform: scale(1.3) translateY(-10px)!important;
}

.PrivateValueLabel-circle-48 {
    justify-content: center;
    background-color: green!important;
    font-size: 12px!important;
}
*/

#results-row {
  margin-top:70px;
}

/* Quiz buttons layout */
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

.elec_devices{
  padding: 31px;
}

.device_name{
  margin-left: 11px;
}

.results_button{
  padding: 11px;
}

.center_placeholder{
  text-align: center;
}
       
/*white box for quiz */
.white-box{
  padding: 25px;
  background-color: white;
  top: 100;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
}

.quiz-scrollable{
  overflow: scroll!important;
  height: 60vh;
}

.quiz-buttons{
  background-color: white;
}

.quiz-btn{
  cursor: pointer;
  font-size: 40px!important;
}

.quiz-btn:hover{
  color:#8AB83E!important;
}

.top-whitespace{
  padding: 20px;
}

/*Landing page - Home*/
.main-background{
  background: url(/background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 88vh!important;
}

.home-div{
  padding-top: 12%;
}

.home-div h1{
  /*text-transform: uppercase;*/
  font-weight: bold;
  color:#616161;
}

.home-div .fas{
  color:#616161;
  font-size: 50px;
  padding: 20px;
}

.home-div .btn{
  width: 50%;
}

.home-div .btn-div{
  margin-top:60px;
}

.home-div .btn-primary{
  background-color: #8AB83E;
  border: #8AB83E 2px solid;
  color: white!important;
}

.home-div .btn-primary:hover{
  background-color: #69AF23;
}

.home-div .btn-secondary{
  background-color: white;
  border: #8AB83E 2px solid;
  color: #8AB83E!important;
}

.home-div .btn-secondary:hover{
  background-color: #8AB83E;
  border: #8AB83E 2px solid;
  color: white!important;
}
.about_ref{
  color: black;
}
